.weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dadde1;
  padding: 14px;
  border-radius: 5px;
  color: rgb(133, 133, 133);
}

.weather h1 {
  font-size: 14px;
  font-weight: 100px;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  font-size: 14px;
  font-weight: 100px;
  line-height: 19px;
  list-style: none;
}
.weather img {
  height: 64px;
  margin-right: 10px;
  width: 64px;
}

.temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 54px;
  line-height: 64px;
  font-weight: 400;
}

.units {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400px;
  position: relative;
  line-height: 1px;
  top: -34px;
  margin-left: 5px;
}
